-- WARNING: This schema is for context only and is not meant to be run.
-- Table order and constraints may not be valid for execution.

CREATE TABLE public.admin_password (
  id integer NOT NULL DEFAULT 1,
  password_hash text NOT NULL,
  updated_at timestamp with time zone DEFAULT now(),
  CONSTRAINT admin_password_pkey PRIMARY KEY (id)
);
CREATE TABLE public.admin_sessions (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  token text NOT NULL UNIQUE,
  created_at timestamp with time zone DEFAULT now(),
  last_used_at timestamp with time zone DEFAULT now(),
  CONSTRAINT admin_sessions_pkey PRIMARY KEY (id)
);
CREATE TABLE public.confirmations (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  game_id uuid NOT NULL,
  player_id uuid NOT NULL,
  status USER-DEFINED NOT NULL DEFAULT 'confirmed'::confirmation_status,
  notes text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT confirmations_pkey PRIMARY KEY (id),
  CONSTRAINT confirmations_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id),
  CONSTRAINT confirmations_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id)
);
CREATE TABLE public.game_stats (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  game_id uuid NOT NULL,
  player_id uuid NOT NULL,
  goals integer NOT NULL DEFAULT 0,
  assists integer NOT NULL DEFAULT 0,
  yellow_cards integer NOT NULL DEFAULT 0,
  red_cards integer NOT NULL DEFAULT 0,
  own_goals integer NOT NULL DEFAULT 0,
  minutes_played integer,
  rating numeric,
  notes text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT game_stats_pkey PRIMARY KEY (id),
  CONSTRAINT game_stats_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id),
  CONSTRAINT game_stats_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id)
);
CREATE TABLE public.game_teams (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  game_id uuid NOT NULL,
  team_name text NOT NULL DEFAULT 'Time A'::text,
  player_id uuid NOT NULL,
  jersey_color text,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT game_teams_pkey PRIMARY KEY (id),
  CONSTRAINT game_teams_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id),
  CONSTRAINT game_teams_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id)
);
CREATE TABLE public.games (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  title text NOT NULL,
  date date NOT NULL,
  time time without time zone NOT NULL,
  location_id uuid,
  jersey_id uuid,
  status USER-DEFINED NOT NULL DEFAULT 'scheduled'::game_status,
  max_players integer NOT NULL DEFAULT 14,
  contribution_amount numeric NOT NULL DEFAULT 0,
  notes text,
  weather_temp numeric,
  weather_condition text,
  weather_icon text,
  weather_wind_speed numeric,
  weather_humidity integer,
  weather_updated_at timestamp with time zone,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  home_score integer,
  away_score integer,
  duration_minutes integer,
  has_ball boolean DEFAULT false,
  vests text DEFAULT 'none'::text CHECK (vests = ANY (ARRAY['none'::text, 'orange'::text, 'black'::text, 'both'::text])),
  CONSTRAINT games_pkey PRIMARY KEY (id),
  CONSTRAINT games_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id),
  CONSTRAINT games_jersey_id_fkey FOREIGN KEY (jersey_id) REFERENCES public.jerseys(id)
);
CREATE TABLE public.invite_codes (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  code text NOT NULL UNIQUE,
  status USER-DEFINED NOT NULL DEFAULT 'pending'::invite_status,
  created_by uuid,
  used_by uuid,
  is_admin boolean NOT NULL DEFAULT false,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT invite_codes_pkey PRIMARY KEY (id),
  CONSTRAINT invite_codes_used_by_fk FOREIGN KEY (used_by) REFERENCES public.players(id)
);
CREATE TABLE public.jerseys (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  name text NOT NULL,
  color_primary text NOT NULL,
  color_secondary text,
  photo_url text,
  is_active boolean NOT NULL DEFAULT true,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT jerseys_pkey PRIMARY KEY (id)
);
CREATE TABLE public.locations (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  name text NOT NULL,
  address text,
  maps_url text,
  photo_url text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  phone text,
  price_per_hour numeric,
  opening_hours text,
  rating numeric CHECK (rating >= 0::numeric AND rating <= 5::numeric),
  notes text,
  CONSTRAINT locations_pkey PRIMARY KEY (id)
);
CREATE TABLE public.notifications (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  player_id uuid NOT NULL,
  title text NOT NULL,
  body text NOT NULL,
  type text NOT NULL DEFAULT 'general'::text CHECK (type = ANY (ARRAY['game_reminder'::text, 'payment_reminder'::text, 'lineup_ready'::text, 'general'::text])),
  is_read boolean NOT NULL DEFAULT false,
  data jsonb,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT notifications_pkey PRIMARY KEY (id),
  CONSTRAINT notifications_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id)
);
CREATE TABLE public.payments (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  game_id uuid NOT NULL,
  player_id uuid NOT NULL,
  amount numeric NOT NULL DEFAULT 0,
  status USER-DEFINED NOT NULL DEFAULT 'pending'::payment_status,
  paid_at timestamp with time zone,
  notes text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  admin_notes text,
  CONSTRAINT payments_pkey PRIMARY KEY (id),
  CONSTRAINT payments_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id),
  CONSTRAINT payments_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id)
);
CREATE TABLE public.player_injuries (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  player_id uuid NOT NULL,
  injury_type text NOT NULL,
  severity USER-DEFINED NOT NULL DEFAULT 'minor'::injury_status,
  description text,
  started_at date NOT NULL,
  recovered_at date,
  is_active boolean NOT NULL DEFAULT true,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT player_injuries_pkey PRIMARY KEY (id),
  CONSTRAINT player_injuries_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id)
);
CREATE TABLE public.player_sessions (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  player_id uuid NOT NULL,
  token text NOT NULL UNIQUE,
  device_info text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  last_used_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT player_sessions_pkey PRIMARY KEY (id),
  CONSTRAINT player_sessions_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id)
);
CREATE TABLE public.players (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  name text NOT NULL,
  avatar_url text,
  position USER-DEFINED NOT NULL,
  invite_code_id uuid,
  is_admin boolean NOT NULL DEFAULT false,
  is_blocked boolean NOT NULL DEFAULT false,
  injury_status USER-DEFINED NOT NULL DEFAULT 'healthy'::injury_status,
  injury_notes text,
  last_login_at timestamp with time zone,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  jersey_number integer,
  preferred_foot text DEFAULT 'right'::text CHECK (preferred_foot = ANY (ARRAY['right'::text, 'left'::text, 'both'::text])),
  CONSTRAINT players_pkey PRIMARY KEY (id),
  CONSTRAINT players_invite_code_id_fkey FOREIGN KEY (invite_code_id) REFERENCES public.invite_codes(id)
);