# Copie este arquivo para .env e preencha com suas chaves
VITE_SUPABASE_PROJECT_ID=https://mawvyuffszilepbqjodw.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1hd3Z5dWZmc3ppbGVwYnFqb2R3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3NDI3ODYsImV4cCI6MjA5NTMxODc4Nn0.WlHDk1qYRzYcPI6-TOIpi4x4Mff5Hzj9kfEOAZyy0WE
VITE_SUPABASE_URL=mawvyuffszilepbqjodw